<h2 class="heading-large">Flood Test</h2>

<div class="grid-row">
  <div class="column-third">Exeter office of FFS is preferred venue. Adequately-sized room and IT requirements (including digital projector) to be organised by Bridget Beer.
</div>
  <div class="column-third">EA laptops can be used in most meeting rooms. Rob Cowling advises that any files used are emailed or placed on Sharefile in advance so that they can can be set up and run on the Met Office IT if necessary.
</div>
  <div class="column-third">
    <img style="max-width: 100%" src="http://science-all.com/images/flower/flower-06.jpg">
  </div>
</div>

<div class="grid-row">
  <div class="column-half">Bridget Beer to give thought to usefulness of workshops in the wider context of internal comms / the push for commonality of language.
</div>
  <div class="column-half">Rob Cowling also added that the outcome of the sessions will likely generate FFC work in terms of writing new guidance/style guide and potentially more training for the hydromets. He said this shouldn’t be too onerous, but that resource availability should be confirmed and managed.
</div>
</div>
