<h1 class="heading-large">Flood prototype home</h1>

<h2 class="heading-medium">Pages</h2>

<h2 class="heading-small">LFW</h2>
<ul class="list-bullet">
  <li><a href="/test">Test</a></li>
  <li><a href="#">...</a></li>
</ul>

<h2 class="heading-small">LTFRI</h2>
<ul class="list-bullet">
  <li><a href="#">...</a></li>
</ul>

<hr>
<h3 class="heading-small">Useful links</h3>
<ul class="list-bullet">
  <li><a href="https://flood-prototype.herokuapp.com">Flood prototype live site</a></li>
  <li><a href="https://github.com/EnvironmentAgency/flood-prototype">Flood prototype repository</a></li>
  <li><a href="http://govuk-elements.herokuapp.com">GOV.UK elements</a></li>
  <li><a href="https://www.gov.uk/guidance/style-guide">GOV.UK style guide</a></li>

</ul>
